---

- name: Define current role path
  # without this, role_path is expanded inside the docker_apps role and then points to the docker_apps role path
  set_fact:
    current_role_path: "{{ role_path }}"

- name: Deploy github runner docker compose project
  include_role:
    name: ../roles/docker_apps
  vars:
    docker_apps_base_path: "{{ docker_github_runner_base_path }}"
    docker_apps_source_path: "{{ current_role_path }}/files"
    docker_apps_update_containers: "{{ docker_github_runner_update_containers }}"
    docker_apps_projects:
      - name: github_runner
        state: "{{ docker_github_runner_state }}"

- name: Update github runner containers
  when: docker_github_runner_update_containers
  ansible.builtin.shell: |
    {{ docker_github_runner_base_path }}/github_runner/manage_runners.sh stop
    {{ docker_github_runner_base_path }}/github_runner/manage_runners.sh start

- name: Ensure github runners are running
  block:
    - name: Check github runner watchdog container
      community.docker.docker_container_info:
        name: github-runner-1-watchdog-1
      register: github_runner_watchdog

    - name: Start github runners when watchdog is missing or stopped
      ansible.builtin.command: "{{ docker_github_runner_base_path }}/github_runner/manage_runners.sh start"
      when: github_runner_watchdog.container is not defined or
        github_runner_watchdog.container.State.Status != "running"
      changed_when: true