- name: Install rest-server and dependencies
  ansible.builtin.apt:
    name:
      - restic-rest-server
      - apache2-utils
    state: present

- name: Create restic repository directory
  ansible.builtin.file:
    path: "{{ restic_rest_server_repo_path }}"
    state: directory
    owner: storage
    group: storage
    mode: '0750'

- name: Generate htpasswd entries for restic repositories
  block:
    - name: Check if htpasswd file already exists
      ansible.builtin.stat:
        path: "{{ restic_rest_server_repo_path }}/.htpasswd"
      register: htpasswd_file

    - name: Create empty htpasswd file if it doesn't exist
      ansible.builtin.file:
        path: "{{ restic_rest_server_repo_path }}/.htpasswd"
        state: touch
        owner: storage
        group: storage
        mode: '0640'
      when: not htpasswd_file.stat.exists

    - name: Look for changes in htpasswd file
      block:
        - name: Look for users to be removed and remove them
          ansible.builtin.shell: |
            grep -o '^[^:]*' "{{ restic_rest_server_repo_path }}/.htpasswd" | while read existing_user; do
              is_in_list=0
              {% for user in restic_rest_server_repositories %}
              if [ "$existing_user" = "{{ user.username }}" ]; then
                is_in_list=1
                break
              fi
              {% endfor %}
              if [ $is_in_list -eq 0 ]; then
                echo "Removing user $existing_user"
                htpasswd -D "{{ restic_rest_server_repo_path }}/.htpasswd" "$existing_user"
              fi
            done
          register: remove_users_result
          changed_when: "remove_users_result.stdout | regex_search('Removing user')"

        - name: Check existing users and update passwords if needed
          ansible.builtin.shell: |
            {% for user in restic_rest_server_repositories %}
            if ! htpasswd -bv "{{ restic_rest_server_repo_path }}/.htpasswd" "{{ user.username }}" "{{ user.password }}" &>/dev/null; then
              htpasswd -Bb "{{ restic_rest_server_repo_path }}/.htpasswd" "{{ user.username }}" "{{ user.password }}"
              echo "creating or updating user {{ user.username }}"
            fi
            {% endfor %}
          args:
            executable: /bin/bash
          register: update_users_result
          changed_when: "update_users_result.stdout | regex_search('creating or updating user')"


- name: Create systemd socket
  ansible.builtin.template:
    src: "../templates/restic-rest-server.socket.j2"
    dest: "/etc/systemd/system/rest-server.socket"
    owner: root
    group: root
    mode: '0644'
  register: rest_server_socket

- name: Create systemd service
  ansible.builtin.template:
    src: "../templates/restic-rest-server.service.j2"
    dest: "/etc/systemd/system/rest-server.service"
    owner: root
    group: root
    mode: '0644'
  register: rest_server_service

- name: Reload systemd daemon
  ansible.builtin.systemd:
    daemon_reload: yes
  when: rest_server_service.changed or rest_server_socket.changed

- name: Enable and start rest-server service
  ansible.builtin.systemd:
    name: rest-server
    enabled: yes
    state: restarted
  when: rest_server_service.changed or rest_server_socket.changed