---
- name: Create exclude files
  ansible.builtin.blockinfile:
    path: "{{ backup_config_directory }}/{{ item.key }}"
    create: yes
    owner: "{{ backup_system_user }}"
    group: "{{ backup_system_user }}"
    mode: 0600
    block: |
      {{ item.value }}
  loop:
    - { key: 'exclude', value: "{{ backup_exclude }}" }
    - { key: 'iexclude', value: "{{ backup_iexclude }}" }

- name: Create repository encryption password file
  ansible.builtin.copy:
    content: "{{ backup_encryption_password }}"
    dest: "{{ backup_config_directory }}/repository-password"
    owner: "{{ backup_system_user }}"
    group: "{{ backup_system_user }}"
    mode: 0600

- name: Copy ca file
  ansible.builtin.copy:
    content: "{{ backup_repository_rest_ca_file_content }}"
    dest: "{{ backup_config_directory }}/ca.pem"
    owner: "{{ backup_system_user }}"
    group: "{{ backup_system_user }}"
    mode: 0600
  when: backup_repository_rest_ca_file_content | length > 0

#- name: Create pre-backup folder
#  ansible.builtin.file:
#    path: "{{ pre_backup_directory }}"
#    state: directory
#    owner: "{{ backup_system_user }}"
#    group: "{{ backup_system_user }}"
#    mode: 0700
#
#- name: Create pre-backup command script
#  ansible.builtin.copy:
#    content: |
#      #!/bin/bash
#      # Clean up pre-backup data directory
#      rm -rf {{ pre_backup_directory }}/*
#      {% for command in pre_backup_commands %}
#      {{ command.command }} > {{ pre_backup_directory }}/{{ command.name }}
#      {% endfor %}
#    dest: "{{ pre_backup_directory }}/pre_backup.sh"
#    owner: "{{ backup_system_user }}"
#    group: "{{ backup_system_user }}"
#    mode: 0700

- name: Create backup script
  ansible.builtin.copy:
    content: |
      #!/bin/bash
      export RESTIC_REST_USERNAME="{{ backup_repository_rest_username }}"
      export RESTIC_REST_PASSWORD="{{ backup_repository_rest_password }}"
      export RESTIC_REPOSITORY="{{ backup_repository_rest_url }}"
      export RESTIC_PASSWORD_FILE="{{ backup_config_directory }}/repository-password"
      HOST="{{ backup_repository_rest_url | replace('rest:', '') | urlsplit('hostname') }}"
      
      ping -c 1 -W 3 "$HOST" &>/dev/null || { echo "ERROR: Host $HOST not reachable"; exit 1; }
      
      # Check if repository exists
      if ! timeout 3 /usr/bin/restic {% if backup_repository_rest_ca_file_content | length > 0 %}--cacert {{ backup_config_directory }}/ca.pem {% endif %}snapshots &>/dev/null; then
          # Try to initialize repository
          /usr/bin/restic {% if backup_repository_rest_ca_file_content | length > 0 %}--cacert {{ backup_config_directory }}/ca.pem {% endif %}init || exit 0
      fi
      
      sudo -E /usr/bin/restic \
        backup \
        {% if backup_repository_rest_ca_file_content | length > 0 %}--cacert {{ backup_config_directory }}/ca.pem \{% endif %}
        --exclude-file={{ backup_config_directory }}/exclude \
        --iexclude-file={{ backup_config_directory }}/iexclude \
        --quiet \
        {{ backup_paths | join(' ') }}
    dest: "{{ backup_config_directory }}/script_restic_backup.sh"
    owner: "{{ backup_system_user }}"
    group: "{{ backup_system_user }}"
    mode: 0700

#- name: Create verify script
#  ansible.builtin.template:
#    src: script_restic_verify.sh.j2
#    dest: "{{ backup_config_directory }}/script_restic_verify.sh"
#    owner: "{{ backup_system_user }}"
#    group: "{{ backup_system_user }}"
#    mode: 0700

#- name: Create cron job
#  ansible.builtin.cron:
#    name: "restic backup"
#    minute: "{{ backup_schedule.split(' ')[0] }}"
#    hour: "{{ backup_schedule.split(' ')[1] }}"
#    day: "{{ backup_schedule.split(' ')[2] }}"
#    month: "{{ backup_schedule.split(' ')[3] }}"
#    weekday: "{{ backup_schedule.split(' ')[4] }}"
#    job: "{{ backup_config_directory }}/script_restic_backup.sh"
#    user: "{{ backup_system_user }}"
#    state: present
