- name: Install Restic
  ansible.builtin.apt:
    name:
      - restic
      - rclone
    state: present
    update_cache: yes

- name: Create backup user
  ansible.builtin.user:
    name: "{{ backup_system_user }}"
    shell: /usr/sbin/nologin
    create_home: yes
    home: "/etc/restic"
    system: yes
    state: present

- name: Create sudoers file for backup user
  ansible.builtin.copy:
    content: |
      {{ backup_system_user }} ALL=(ALL:ALL) NOPASSWD:SETENV: /usr/bin/restic backup *
    dest: /etc/sudoers.d/backup_user
    owner: root
    group: root
    mode: 0440
    validate: 'visudo -cf %s'

