---

- name: be sure user exists
  ansible.builtin.user:
    name: "{{ user_item.username }}"
    state: present
    shell: /bin/bash
    groups: "{{ user_item.groups | default(omit) }}"
    append: true
    password: "{{ user_item.password_hash if user_item.password_hash is defined else '!' }}"
    update_password: "{{ 'always' if user_item.update_password | default(false) else 'on_create' }}"
  loop: "{{ user_management_users }}"
  loop_control:
    loop_var: user_item

- name: create .ssh directory
  ansible.builtin.file:
    path: "/home/{{ user_item.username }}/.ssh"
    state: directory
    owner: "{{ user_item.username }}"
    group: "{{ user_item.username }}"
    mode: '0700'
  loop: "{{ user_management_users }}"
  loop_control:
    loop_var: user_item

- name: copy public key
  ansible.builtin.copy:
    content: "{{ user_item.ssh_pubkey }}"
    dest: "/home/{{ user_item.username }}/.ssh/authorized_keys"
    owner: "{{ user_item.username }}"
    group: "{{ user_item.username }}"
    mode: '0600'
  loop: "{{ user_management_users }}"
  loop_control:
    loop_var: user_item

- name: allow passwordless sudo for user
  ansible.builtin.copy:
    content: '{{ user_item.username }} ALL=(ALL) NOPASSWD:ALL'
    dest: "/etc/sudoers.d/{{ user_item.username }}"
    owner: root
    group: root
    mode: '0440'
    validate: 'visudo -cf %s'
  when: user_item.passwordless_sudo | default(false)
  loop: "{{ user_management_users }}"
  loop_control:
    loop_var: user_item