version: "1"

global:
  scheduler: crond
  priority: low
  default-command: snapshots
  min-memory: 100
  initialize: false

default:
  full-backup:
    - local

local:
  repository: /host/media/bigdata/restic/docker
  password-file: /etc/resticprofile/passwords/local.txt

  backup:
    source:
      - /host/media/bigdata/docker/volumes
      - /host/opt/docker-apps
    exclude:
      # prevent recursive backup of restic files
      - "3d8e250ee8e3c3add444f63cd370adaedb63eb82fb431c5b2e586bf499eb7c8d"
      - "resticprofile"
    tag:
      - docker_backup
    schedule: "*-*-* 03,15:14:00"
    schedule-permission: system
    force-inactive-lock: true

  retention:
    after-backup: true
    path: false  # do not group by path
    keep-last: 2
    keep-daily: 7
    keep-weekly: 4
    keep-monthly: 12
    keep-yearly: 3
    prune: true

ab:
  repository: "rest:https://{{docker_apps_project.env_vars.repos.ab.rest_repo_url}}"
  password-file: /etc/resticprofile/passwords/ab.txt

  env:
    RESTIC_REST_USERNAME: "{{ docker_apps_project.env_vars.repos.ab.rest_username }}"
    RESTIC_REST_PASSWORD: "{{ docker_apps_project.env_vars.repos.ab.rest_password }}"


  backup:
    source:
      - /host/media/bigdata/docker/volumes/adler_*
    tag:
      - docker_backup
    schedule: "daily"
    schedule-permission: system
    force-inactive-lock: true

# host does not allow snapshot deletion
#  retention:
#    keep-last: 2
#    keep-daily: 7
#    keep-weekly: 4
#    keep-monthly: 12
#    keep-yearly: 3
#    prune: true