---

- name: update apt cache
  ansible.builtin.apt:
    update_cache: yes
  changed_when: false

- name: List available updates
  ansible.builtin.shell: apt list --upgradable
  register: update_list
  changed_when: false

- name: Install updates if available
  block:
    - name: Print available updates
      ansible.builtin.debug:
        msg: "{{ update_list.stdout_lines }}"

    - name: Prompt for confirmation to apply updates
      ansible.builtin.pause:
        prompt: "Do you want to apply the updates listed above? (yes/no)"
      register: update_confirmation
      when: system_update_auto_upgrade_enabled == false

    - name: Install updates
      when: update_confirmation.user_input == 'yes' or system_update_auto_upgrade_enabled
      block:
      - name: Apply updates
        ansible.builtin.apt:
          upgrade: dist
          autoremove: yes
      - name: Inform user he might want to reboot
        ansible.builtin.debug:
          msg: "System updates have been applied. You might want to reboot the system."
  when: update_list.stdout_lines | length > 1
