---

- name: update apt cache
  ansible.builtin.apt:
    update_cache: yes
    cache_valid_time: 3600
  changed_when: false

- name: List available updates
  ansible.builtin.shell: apt list --upgradable
  register: update_list
  changed_when: false

- name: Install updates if available
  block:
    - name: Print available updates
      ansible.builtin.debug:
        msg: "{{ update_list.stdout_lines }}"

    - name: Prompt for confirmation to apply updates
      ansible.builtin.pause:
        prompt: "Do you want to apply the updates listed above? (yes/no)"
      register: update_confirmation
      when: system_update_auto_upgrade_enabled | default(false) == false

    - name: Apply updates
      ansible.builtin.apt:
        upgrade: dist
        autoremove: yes
      when: update_confirmation.user_input == 'yes' or system_update_auto_upgrade_enabled | default(false) == true
  when: update_list.stdout_lines | length > 1
