---

- name: base packages
  ansible.builtin.apt:
    name:
    - htop
    - sudo
    - nano
    - screen
    - zstd
    - iftop
    - tree
    update_cache: yes
    cache_valid_time: 86400 # 1 day

- name: ensure users exist and setup SSH keys
  ansible.builtin.include_tasks: users.yml
  loop:
  - name: "ansible"
    ssh_pubkey: "{{ common_user_ssh_pubkey_ansible }}"
    passwordless_sudo: true

- name: ensure users exist and setup SSH keys
  ansible.builtin.include_tasks: users.yml
  loop: "{{ common_users }}"

- block:
    - name: Disable SSH login for root user
      ansible.builtin.lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^PermitRootLogin'
        line: 'PermitRootLogin no'
        state: present

    - name: Ensure SSH key authentication is enabled
      ansible.builtin.lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^PubkeyAuthentication'
        line: 'PubkeyAuthentication yes'
        state: present

    - name: Disable password authentication
      ansible.builtin.lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^PasswordAuthentication'
        line: 'PasswordAuthentication no'
        state: present
  notify: restart_ssh_service