---
- name: Adler Backup Server specific playbook
  hosts: backup_server
  become: yes
  tasks:
    - name: Ensure rsync is installed
      ansible.builtin.apt:
        name:
          - rsync
        state: present
        update_cache: yes
        cache_valid_time: 86400 # 1 day

    - name: create user "storage"
      ansible.builtin.user:
        name: storage
        password: '!'  # locked/disabled password

    - name: create backup directory
      ansible.builtin.file:
        path: "/media/backup/restic"
        state: directory
        owner: storage
        group: storage
        mode: '0750'
        recurse: yes

    - name: set up restic rest server
      ansible.builtin.include_tasks: ../tasks/restic_rest_server_setup.yml
      vars:
        restic_rest_server_repo_path: "/media/backup/restic"
        restic_rest_server_user: "storage"
        restic_rest_server_group: "storage"
        restic_rest_server_repositories:
          - username: "main_server"
            password: "{{ restic_rest_server_secrets.main_server.password }}"