---
- name: Base configuration like system update, packages, users, ...
  hosts: all
  become: yes
  tasks:
    - name: Include system_update role
      ansible.builtin.include_role:
        name: ../roles/system_update

    - name: Create system users
      ansible.builtin.include_role:
        name: ../roles/user_management
      vars:
        user_management_users: "{{ system_users }}"

    - name: Include common role
      ansible.builtin.include_role:
        name: ../roles/common
      vars:
        common_user_ssh_pubkey_ansible: "{{ user_ssh_pubkey_ansible }}"
        common_user_password_hash_ansible: "{{vault_user_password_hash_ansible}}"
        common_system_packages: "{{ system_packages }}"