---
- name: Base configuration like system update, packages, users, ...
  hosts: all
  become: yes
  tasks:
    - name: Install system updates
      ansible.builtin.include_role:
        name: ../roles/system_update
      when: update_system | default(false) | bool
      vars:
        system_update_auto_upgrade_enabled: "{{ update_system_auto_upgrade | default(false) | bool }}"

    - name: Create system users
      ansible.builtin.include_role:
        name: ../roles/user_management
      vars:
        user_management_users: "{{ system_users }}"

    - name: Include common role
      ansible.builtin.include_role:
        name: ../roles/common
      vars:
        common_user_ssh_pubkey_ansible: "{{ user_ssh_pubkey_ansible }}"
        common_user_password_hash_ansible: "{{vault_user_password_hash_ansible}}"
        common_system_packages: "{{ system_packages }}"