---
- name: Main Adler Server specific playbook
  hosts: main_server
  become: yes
  tasks:
    - name: Docker projects
      block:
        - name: Install docker package
          ansible.builtin.package:
            name: docker.io
            state: present
            cache_valid_time: 3600

        - name: Create docker network
          community.docker.docker_network:
            name: traefik_gateway
            state: present
            driver: bridge

        - name: Deploy docker apps
          include_role:
            name: ../roles/docker_apps
          vars:
            docker_apps_base_path: /opt/docker-apps
            docker_apps_projects:
              - name: resticprofile
                state: present
                env_vars:
                  repos:
                    local:
                      password: "{{ docker_secrets.resticprofile.restic_local_password }}"
                    ab:
                        password: "{{ docker_secrets.resticprofile.restic_ab_password }}"
                        rest_username: "{{ backup_config.ab.rest_username }}"
                        rest_repo_url: "{{ backup_config.ab.rest_repo_url }}"
                        rest_password: "{{ docker_secrets.resticprofile.restic_ab_rest_password }}"
              - name: bugreports
                state: present
                env_vars:
                  webhookurl: "{{ docker_secrets.bugreports.webhookurl }}"
              - name: ea-download
                state: present
                env_vars:
                  postgres_password: "{{ docker_secrets.ea_download.postgres_password }}"
              - name: github_runner
                state: present
                env_vars:
                  github_runner_token: "{{ docker_secrets.github_runner.github_runner_token }}"
              - name: nextcloud
                state: present
                env_vars:
                  mysql_root_password: "{{ docker_secrets.nextcloud.mysql_root_password }}"
                  mysql_password: "{{ docker_secrets.nextcloud.mysql_password }}"
              - name: package-registry
                state: present
                env_vars:
                  upload_password: "{{ docker_secrets.package_registry.upload_password }}"
              - name: portainer
                state: present
              - name: traefik
                state: present
              - name: wikijs
                state: present
                env_vars:
                  db_password: "{{ docker_secrets.wikijs.db_password }}"

        - name: Ensure github runners are running
          block:
            - name: Check github runner watchdog container
              community.docker.docker_container_info:
                name: github-runner-1-watchdog-1
              register: github_runner_watchdog

            - name: Start github runners when watchdog is missing or stopped
              ansible.builtin.command: "{{ docker_apps_base_path }}/github_runner/manage_runners.sh start"
              when: github_runner_watchdog.container is not defined or
                    github_runner_watchdog.container.State.Status != "running"
              changed_when: true