---
- name: Main Adler Server specific playbook
  hosts: main_server
  become: yes
  tasks:
    - name: Docker projects
      block:
        - name: Create docker network
          community.docker.docker_network:
            name: traefik_gateway
            state: present
            driver: bridge

        - name: node exporter
          block:
            - name: Install Prometheus Node Exporter
              ansible.builtin.apt:
                name: prometheus-node-exporter
                state: present
                update_cache: yes
                cache_valid_time: 86400 # 1 day

            - name: Create Node Exporter textfile directory
              ansible.builtin.file:
                path: "/var/lib/node_exporter/textfile_collector"
                state: directory
                owner: root
                group: root
                mode: 0755

            - name: Node Exporter start parameters
              ansible.builtin.lineinfile:
                path: /etc/default/prometheus-node-exporter
                regexp: '^ARGS=".*'
                line: 'ARGS="--web.listen-address 172.31.0.1:9100 --collector.textfile.directory /var/lib/node_exporter/textfile_collector"'
                state: present
              register: node_exporter_changed

            - name: restart node exporter
              when: node_exporter_changed is changed
              ansible.builtin.systemd:
                name: prometheus-node-exporter
                state: restarted

        - name: Deploy docker apps
          include_role:
            name: ../roles/docker_apps
          vars:
            docker_apps_install_docker: false # TODO
            docker_apps_update_containers: "{{ update_docker | default(false) | bool }}"
            docker_apps_base_path: /opt/docker-apps
            docker_apps_projects:
              - name: resticprofile
                state: present
                env_vars:
                  host_prometheus_textfile_collector_path: "/var/lib/node_exporter/textfile_collector"
                  repos:
                    local:
                      password: "{{ docker_secrets.resticprofile.restic_local_password }}"
                    ab:
                        password: "{{ docker_secrets.resticprofile.restic_ab_password }}"
                        rest_username: "{{ backup_config.ab.rest_username }}"
                        rest_repo_url: "{{ backup_config.ab.rest_repo_url }}"
                        rest_password: "{{ docker_secrets.resticprofile.restic_ab_rest_password }}"
              - name: bugreports
                state: present
                env_vars:
                  webhookurl: "{{ docker_secrets.bugreports.webhookurl }}"
              - name: ea-download
                state: present
                env_vars:
                  postgres_password: "{{ docker_secrets.ea_download.postgres_password }}"
              - name: nextcloud
                state: present
                env_vars:
                  mysql_root_password: "{{ docker_secrets.nextcloud.mysql_root_password }}"
                  mysql_password: "{{ docker_secrets.nextcloud.mysql_password }}"
              - name: package-registry
                state: present
                env_vars:
                  upload_password: "{{ docker_secrets.package_registry.upload_password }}"
              - name: portainer
                state: present
              - name: traefik
                state: present
              - name: wikijs
                state: present
                env_vars:
                  db_password: "{{ docker_secrets.wikijs.db_password }}"

        - name: Docker github runners
          include_role:
            name: ../roles/docker_github_runner
          vars:
            docker_github_runner_update_containers: "{{ update_docker | default(false) | bool }}"
            docker_github_runner_github_runner_token: "{{ docker_secrets.github_runner.github_runner_token }}"

        - name: Deploy monitoring stack
          include_role:
            name: ../roles/docker_app_monitoring_server
          vars:
            docker_app_monitoring_server_update_containers: "{{ update_docker | default(false) | bool }}"
            docker_app_monitoring_server_prometheus_scrape_configs_static_configs:
              - host: "172.31.0.1"