---

- name: "{{ docker_apps_project.name }} | Scan project files"
  set_fact:
    project_files: "{{ lookup('community.general.filetree', 'files/docker_compose_projects/' + docker_apps_project.name) }}"

- name: "{{ docker_apps_project.name }} | Create subdirectories"
  file:
    path: "{{ docker_apps_base_path }}/{{ docker_apps_project.name }}/{{ item.path }}"
    state: directory
    mode: "{{ item.mode }}"
  loop: "{{ project_files }}"
  when: item.state == 'directory'
  loop_control:
    label: "{{ item.path }}"

- name: "{{ docker_apps_project.name }} | Copy non-template files"
  copy:
    src: "{{ item.src }}"
    dest: "{{ docker_apps_base_path }}/{{ docker_apps_project.name }}/{{ item.path }}"
    mode: "{{ item.mode }}"
  loop: "{{ project_files }}"
  when:
    - item.state == 'file'
    - not item.path.endswith('.j2')
  loop_control:
    label: "{{ item.path }}"

- name: "{{ docker_apps_project.name }} | Template .j2 files"
  template:
    src: "{{ item.src }}"
    dest: "{{ docker_apps_base_path }}/{{ docker_apps_project.name }}/{{ item.path | regex_replace('\\.j2$', '') }}"
    mode: "{{ item.mode }}"
  loop: "{{ project_files }}"
  vars:
    # Make project variables available to templates
    "{{ docker_apps_project.env_vars | default({}) }}"
  when:
    - item.state == 'file'
    - item.path.endswith('.j2')
  loop_control:
    label: "{{ item.path }}"